@font-face {
  font-family: 'HumaneBold';
  src: url('./assets/fonts/Humane-Bold.otf');
}

@font-face {
  font-family: 'HumaneRegular';
  src: url('./assets/fonts/Humane-Regular.otf');
}

@font-face {
  font-family: 'MangoGrotesqueBold';
  src: url('./assets/fonts/MangoGrotesque-Bold.ttf');
}

@font-face {
  font-family: 'MangoGrotesqueExtraBold';
  src: url('./assets/fonts/MangoGrotesque-ExtraBold.ttf');
}

@font-face {
  font-family: 'OTFGlusp';
  src: url('./assets/fonts/OTFGlusp.ttf');
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*16 24 32*/
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url(./assets/images/f2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container > .bg-video {
  width: 100%;
  height: 100%;
}

/* background-color and color should be the same as the below otherwise it won't work */
.container > .text {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: #000;
  color: #fff;
  font-weight: 900;
  font-size: 100px;
  font-family: sans-serif;
  /* Mix Blend Mode does the all magic */
  mix-blend-mode: multiply;
  user-select: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
